# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
.expo/cache/

# iOS / Xcode
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj
*.xcuserdata
DerivedData/

# Android / Gradle
android/.gradle/
android/app/build/
android/build/
*.keystore

# Build / output
build/
dist/
web-build/

# Environment / secrets
.env
.env.*            # si usas varios archivos .env.local, .env.production, etc.
expo-env.d.ts

# EAS / credentials
.eas/
credentials.json

# Editor / OS
.vscode/
.idea/
.DS_Store
*.log

# Misc
coverage/
.vagrant/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# typescript
*.tsbuildinfo

app-example
